*{
    margin: 0;
    padding: 0;
}
.bg{
    width: 100%;
    height: 100%;
background: rgba(255, 255, 255, 0.05);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.9px);
-webkit-backdrop-filter: blur(0.9px);
display: flex;
    align-items: center;
    justify-content: center;
}
body{
    width: 100%;
    height: 100%;
    background-image: url(https://image.shutterstock.com/image-vector/ilustration-goku-jump-force-fulcolor-600w-1950580240.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.container{
    width: 25rem;
    background: snow;
    display: flex;
    flex-direction:column;
    border-radius: 2rem;
    padding: 15px;
} 
.uper_part{
  display: flex;
  width: 100%;
}
.imgdiv{
    width: 100%;
    height: 19rem;
    border-radius: 1rem;
    background-image: url(https://image.shutterstock.com/image-vector/ilustration-goku-jump-force-fulcolor-600w-1950580240.jpg);
    background-size: cover;
}
.buttons{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.icon_bg{
    width: 3rem;
    cursor: pointer;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: snow;
    margin: 2px;
    border-radius: 1rem;
}
.left{
    transform: rotate(180deg);
}
.iconbg{
    width: 0;
    height: 0;
}
.iconbg:hover{
  background: hsl(166, 13%, 74%);
  color: blue;
  width: 3rem;
  height: 3rem;
  transition: .5s;
}
.play:hover{
    color: rgb(23, 60, 226);
    transition: .5s;
    border-radius: 1rem;
}
.iconbg{
    width: 0px;
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}
.icons{
    font-size: 2.5rem;
}
#pause{
    display: none;
}
.play{
    border-radius: 1rem;
    font-size: 3rem;
}
@media only screen and (max-width: 380px) {
    #shear{
        display: none;
        visibility: hidden;
    }
    
    .uper_part{
        flex-direction: column;
        width: 100%;
    }
    .imgdiv{
       width: 100%;
       height: 15rem;
       margin-bottom: 10px;
    }
    #pause{
      font-size: 3.3rem;
    }
    #play{
        font-size: 3.5rem;
    }
    .buttons{
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 20px;
        margin-bottom: 20px ;
    }
    .icons{
        font-size: 3rem;
    }
    .icon_bg{
        width: 0;
        height: 0;
    }
    .iconbg:hover{
        width: 0rem;
        height: 0rem;
    }
    
    .play{
        font-size: 2rem;
    }
}
@media only screen and (max-width:630px )  and (min-width:490px) {
    .container{
        width: 70%;
    }
    .uper_part{
        flex-direction: column;
    }
    .imgdiv{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 1rem;
    }
    .imgdiv, .buttons{
        width: 100%;
        height: 12rem;
    }
    .buttons{
        height: 6rem;
        flex-direction: row;
    }
    .icons{
        font-size: 3rem;
    }
    .icon_bg{
        width: 4rem;
        height: 4rem;
    }
    .iconbg:hover{
        width: 4rem;
        height: 4rem;
    }
    
    .play{
        font-size: 3rem;
    }
}
.names{
    margin-bottom: 4px;
}
.singer{
    font-size: 2rem;
    color: #8d7899;
}
.song{
    font-size: 1.8rem;
    color: #253e4b;
}
.count{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}
.songline{
    width: 100%;
}
